<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>

  <!-- Main ESTI log -->
  <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d %4r [%t] %-5p %c - %m%n"/>
    </layout>
  </appender>

  <appender name="rolling" class="org.apache.log4j.DailyRollingFileAppender">
    <param name="File" value="${catalina.base}/logs/ListSales.log"/>
    <param name="Append" value="true"/>
    <param name="DatePattern" value="yyyy-MM-dd"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d %4r [%t] %-5p %c - %m%n"/>
    </layout>
  </appender>

  <logger name="com.thomsonreuters.listsales" additivity="false">
     <level value="error" />
     <appender-ref ref="rolling"/>
  </logger>

  <logger name="com.thomson.ts" additivity="false">
     <level value="error" />
     <appender-ref ref="rolling"/>
  </logger>

  <root>
    <level value="info"/>
    <!-- appender-ref ref="stdout"/ -->
    <appender-ref ref="rolling"/>
  </root>
</log4j:configuration>

